
@{
    ViewData["Title"] = "Exam";
}

<div class="row mt-4">
    <input id="txtHeader" type="text" class="form-control form-control-lg" placeholder="Metin başlığını buraya yazın" value="@ViewBag.h1" />
</div>
<div class="row mt-4">
    <textarea id="txtDescription" class="form-control form-control" placeholder="Metin içeriğini buraya yazın" style="height:100px">@ViewBag.p</textarea>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea id="txtSoruBir" class="form-control form-control" placeholder="SORU 1"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtFqA" type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input id="txtFqB" type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtFqC" type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input id="txtFqD" type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select id="drpBir" class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea id="txtSoruIki" class="form-control form-control" placeholder="SORU 2"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtSqA" type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input id="txtSqB" type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtSqC" type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input id="txtSqD" type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select id="drpIki" class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea id="txtSoruUc" class="form-control form-control" placeholder="SORU 3"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtTqA" type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input id="txtTqB" type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtTqC" type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input id="txtTqD" type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select id="drpUc" class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea id="txtSoruDort" class="form-control form-control" placeholder="SORU 4"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtDqA" type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input id="txtDqB" type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input id="txtDqC" type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input id="txtDqD" type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select id="drpDort" class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
                <option value="d">D</option>
            </select>
        </div>
    </div>
</div>

