
@{
    ViewData["Title"] = "Exam";
}

<div class="row mt-4">
    <input type="text" class="form-control form-control-lg" placeholder="Metin başlığını buraya yazın" />
</div>
<div class="row mt-4">
    <textarea class="form-control form-control" placeholder="Metin içeriğini buraya yazın" style="height:100px"></textarea>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea class="form-control form-control" placeholder="SORU 1"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea class="form-control form-control" placeholder="SORU 2"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea class="form-control form-control" placeholder="SORU 3"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
        </div>
    </div>
</div>
<div id="soruForm">
    <div class="row mt-2">
        <textarea class="form-control form-control" placeholder="SORU 4"></textarea>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="A)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="B)" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="C)" />
        </div>
        <div class="col-6">
            <input type="text" class="form-control form-control" placeholder="D)" />
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <select class="form-control form-control">
                <option selected="selected">Doğru Cevabı Seçin</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
            </select>
        </div>
    </div>
</div>

